$primary: #00855F;
$secondary: #08A176;
$bg: #F0F1F1;
$bg2: #444444;
$border: #CBCBCB;
$danger: #D20000;
$text_main: #232324;
$text_white: #ffffff;
$text_sub: #434343;

@media only screen and (max-width: 1024px) {
  .App {
    background-color: green; 
  }
}

@media only screen and (min-width: 1025px) {
  .App {
    background-color: red;
  }
}


.App {
  background-color: $bg;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  min-width: 100vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-content{
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
}

.Main-column {
  background-color: red;
  display: flex;
  align-self: stretch;
  flex: 0 0 80%;
  flex-direction: column;



  .row{
    display: flex;
    background: #f0f0f0;
  }

  .Title.row{
    justify-content: space-between;
  
    .Action-title{

    }
    .Action-button{
    }
  }

  .Display.row{
    justify-content: center;
    flex-grow:1;
    >div{
      background: blue;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;
      
      .card{
        flex: 1 1 50%;
        display: flex;
        justify-content: center;
      }
    }
  }

  

}

.App-header {
  background-color: $bg2;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $text_white;
}

.App-footer {
  text-align: center;
  min-height: 10vh;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
