@import 'styles/colors';
@import 'styles/fonts';

@media only screen and (max-width: 1024px) {
  .App {
    // background-color: green; 
  }
}

@media only screen and (min-width: 1025px) {
  .App {
    // background-color: red;
  }
}

.App {
  align-items: center;
  text-align: center;
  min-height: 100vh;
  min-width: 100vw;
  background: $bg;
}



.App-content{
  width: 100%;
  min-height: calc(100vh - 8em);
  display: flex;
  justify-content: center;
}

.Main-column {
  // background-color: red;
  display: flex;
  align-self: stretch;
  flex: 0 0 80%;
  flex-direction: column;


  .row{
    display: flex;
    justify-content: space-between;
  }

  .Title.row{
    justify-content: space-between;
    padding-top: 2em;
    padding-bottom: 2em;
  
    .Action-title .h2{
      font-size: 24px !important;
      font-weight: 600;
      margin: 0;
    }
    .Action-button{
      display: flex;
      justify-content: center;

      >button{
        min-width: 8.25em;
        min-height: 2.5em;
        background-color: $primary;
        color: white;
        border: none;
        text-align: center;
        display: inline-block;
        border-radius: 8px; 
        text-decoration: none;
        font-size: 20px;
        font-weight: 600;
        padding: 0.5em 1em 0.5em 1em;
        >svg{
          height: 1em;
          width: 1em;
        }
      }
      >button:disabled{
        filter: opacity(0.6);
      }
    }
  }

  .Placeholder{
    flex-direction: column;
    justify-content: center !important;

    svg.big-icon{
      margin: 2em;
      background: none;
    }
    >b{
      font-size: 20px;
      font-weight: 600;
      color: $text_main;
      margin: 0.5em;
    }
    >span{
      font-size: 14px;
      font-weight: 300;
      color: $text_sub;
    }
  }

  .Display.row{
    justify-content: center;
    flex-grow:1;
    >div{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;
      
      @import 'card';
    }
  }

}

header.App-header {
  background-color: $bg2;
  min-height: 3.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  font-size: 18px;
  font-weight: 600;
  color: $text_white;
  padding: 0.5em 3em;
}

footer.App-footer {
  text-align: center;
  min-height: 3em;
  border-top: 1px solid $border;
  font-size: 12px;
  font-weight: 300;
  color: $text_sub;
  padding-top: 1em;
}



@media (prefers-reduced-motion: no-preference) {
  .spinner {
    animation: spinning infinite 3s linear;
  }
}

@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
