@import 'styles/colors';
@import 'styles/fonts';

@media only screen and (max-width: 1024px) {
  .App {
    // background-color: green; 
  }
}

@media only screen and (min-width: 1025px) {
  .App {
    // background-color: red;
  }
}

.App {
  align-items: center;
  text-align: center;
  min-height: 100vh;
  min-width: 100vw;
  background: $bg;
}



.App-content{
  width: 100%;
  min-height: 80vh;
  display: flex;
  justify-content: center;
}

.Main-column {
  // background-color: red;
  display: flex;
  align-self: stretch;
  flex: 0 0 80%;
  flex-direction: column;


  .row{
    display: flex;
    justify-content: space-between;
  }

  .Title.row{
    justify-content: space-between;
    padding-top: 2em;
    padding-bottom: 2em;
  
    .Action-title .h2{
      font-size: 24px !important;
      font-weight: 600;
      margin: 0;
    }
    .Action-button{
      display: flex;
      justify-content: center;

      >button{
        background-color: $primary;
        color: white;
        border: none;
        text-align: center;
        display: inline-block;
        border-radius: 8px; 
        text-decoration: none;
        font-size: 20px;
        font-weight: 600;
        padding: 0.5em 1em 0.5em 1em;
      }
      >button.disabled{
        background-color: $disabled;
      }
    }
  }

  .Display.row{
    justify-content: center;
    flex-grow:1;
    >div{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;
      
      @import 'card';
    }
  }

}

.App-header {
  background-color: $bg2;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
  color: $text_white;
  padding: 0.25em 3em;
}

.App-footer {
  text-align: center;
  min-height: 3em;
  border-top: 1px solid $border;
  font-size: 12px;
  font-weight: 300;
  color: $text_sub;
  padding-top: 1em;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
